.root-saveCity-wrap{
    display: flex;
    justify-content: center;
}

.saveCity-wrap{
    margin: 5px;
    padding: 5px;
    width: 70%;
}
.saveCity-header-text{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 5px 5px 10px 5px;
    padding: 5px;
}
.saveCity-block-contain{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.saveCity-block{
    margin: 10px 30px;
    padding: 10px 5px 5px;
    width: 150px;
    height: 150px;
    text-align: center;
    border: 1px solid #b4b4b4;
}